@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('assets/Fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf') format('truetype'),
  url('assets/Fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf') format('truetype'),
  url('assets/Fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf') format('truetype'),
  url('assets/Fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf') format('truetype');
}

:root {
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --primaryColour: #d3cdc1;
  --secondaryColour: #262626;

  color: var(--secondaryColour);
  background-color: var(--primaryColour);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryColour: #262626;
    --secondaryColour: #d3cdc1;
  }
}
